<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [86]:
import pandas as pd

Load the dataset into a dataframe.

In [87]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [88]:
print(f'Total rows: {df.shape[0]:,}')
print(f'Duplicated rows: {df.duplicated().sum():,}\n')
print('Duplicate values in each column:')

# Count duplicate values in each column
df.apply(lambda x: x.duplicated()).sum()

Total rows: 11,552
Duplicated rows: 154

Duplicate values in each column:

Respondent        154
MainBranch      11550
Hobbyist        11550
OpenSourcer     11548
OpenSource      11548
                ...
Sexuality       11544
Ethnicity       11462
Dependents      11549
SurveyLength    11548
SurveyEase      11548
Length: 85, dtype: int64

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [89]:
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [90]:
print(f'Total rows - Duplicate rows: {df.shape[0]:,}\n')

print('Unique rows in Respondent:')
df['Respondent'].nunique()

Total rows - Duplicate rows: 11,398

Unique rows in Respondent:

11398

## Finding Missing values

Find the missing values for all columns.

In [91]:
df.isna().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [92]:
print('Missing rows in WorkLoc: ', df['WorkLoc'].isna().sum())
print('Missing rows in EdLevel: ', df['EdLevel'].isna().sum())
print('Missing rows in Country: ', df['Country'].isna().sum())

Missing rows in WorkLoc:  32
Missing rows in EdLevel:  112
Missing rows in Country:  0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [93]:
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [94]:
print('Most frequent value in WorkLoc: ', df['WorkLoc'].mode()[0])
print('Most frequent value in Employment: ', df['Employment'].mode()[0])

Most frequent value in WorkLoc:  Office
Most frequent value in Employment:  Employed full-time

In [95]:
# Find UndergradMajor value with least number of rows
df['UndergradMajor'].value_counts().sort_values(ascending=True).head(1)

A health science (ex. nursing, pharmacy, radiology)    24
Name: UndergradMajor, dtype: int64

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [96]:
df['WorkLoc'] = df['WorkLoc'].isna().replace('Office')

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [97]:
df['WorkLoc'].isna().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [98]:
print('Total unique values: ', df['CompFreq'].nunique())

df['CompFreq'].value_counts()

Total unique values:  3

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [99]:
# Copy all totals CompTotal and then overwrite just monthly and weekly to leave yearly
df['NormalizedAnnualCompensation'] = df['CompTotal']

df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = 12 * df['CompTotal']
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation'] = 52 * df['CompTotal']

df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head(15)

   CompFreq  CompTotal  NormalizedAnnualCompensation
0    Yearly    61000.0                       61000.0
1    Yearly   138000.0                      138000.0
2    Yearly    90000.0                       90000.0
3   Monthly    29000.0                      348000.0
4    Yearly    90000.0                       90000.0
5   Monthly     9500.0                      114000.0
6   Monthly     3000.0                       36000.0
7    Yearly   103000.0                      103000.0
8    Yearly    69000.0                       69000.0
9   Monthly     8000.0                       96000.0
10  Monthly     7000.0                       84000.0
11   Yearly   114000.0                      114000.0
12   Weekly     2000.0                      104000.0
13   Weekly    22000.0                     1144000.0
14  Monthly    96000.0                     1152000.0

In [100]:
# Median normalised compensation
df['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).